*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #3d3332;
}

#container{
    margin: 0 auto;
    max-width: 1000px;
}

header{
    background-image: url('./bordofal.jpg');
    padding: 35px;
    height: 110px;
    color: #fff;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    
}          

nav{
    float: left;
    width: 25%;
    background-color: #1b1b1b;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    border-bottom: 1px solid #444;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: all 0.5s ease;
}

nav ul li a:hover {
    background-color: #a0a0a0;
    color: rgb(255, 255, 255);
    padding-left: 30px;
}

#tartalom{
    float: left;
    width: 75%;
    background-image: url('./hatter.jpg');
    padding: 20px;
    
    
}

.doboz{
    background-color: rgba(253, 253, 253, 0.4);
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid rgba(253, 253, 253, 0.4);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.doboz h2
{margin-bottom: 20px;}

footer{
    clear: both;
    background-color: #520e15;
    color: #fff;
    text-align: right;
    height: 40px;
    padding: 15px;
}

#tartalom p{text-align: justify;}

.navhoz{
    background-color: rgb(30,25,25);
}

.navhoz::after, footer::after{
    content: "";
    clear: both;
    display: table;
}